/*

OPPGAVE 1

1) Lag griden lik skjermbildet.

Detaljer: 
- Den andre kolonnen er dobbelt så stor som kolonne 1 og 3.
- Den første raden er større enn den andre
- Plassen mellom radene er større enn plassen mellom kolonnene

*/

.wrapper {
	/* Skriv inn din css her */
}

/* Styling */

body {
	color: #565656;
	font-family: helvetica, sans-serif;
}

.box {
	padding: 10px;
	color: #fff;
	font-size: 2rem;
	background-color: #565656;
}

.box:nth-child(odd) {
	background-color: #4eada6;
}