/*

OPPGAVE 1

1) Lag griden lik skjermbildet.

*/

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-rows: auto;
}

/* Styling */

body {
	color: #565656;
	font-family: helvetica, sans-serif;
}

.box {
	padding: 10px;
	color: #fff;
	font-size: 2rem;
	background-color: #565656;
}

.box:nth-child(odd) {
	background-color: #4eada6;
}