body {
  display: flex;
  flex-direction: column; /* Column slik at elementene plasseres under hverandre */
  min-height: 100vh; /* Sett høyden av body til 100% av viewport. vh = viewport height */
}

.container {
  display: flex;
  flex: 1; /* Fyll hele høyden slik at footer når ned til bunnen */
}

.middle {
  flex: 1; /* Fyll hele bredden for få en flytende bredde */
}

.left {
  order: -1; /* Plasser venstre kolonne først */
}

.left, .right {
  flex: 0 0 10em; /* 10 ganger størrelsen av elementets fontstørrelse */
}

.search-input {
  border: none;
  padding: 1em;
}

.search-button {
  border: none;
  background-color: #8FD1FF;
  color: #fff;
  padding: 0 2em;
  text-transform: uppercase;
}
