:root {
  --pallette-one: #BCE784;
  --pallette-two: #5DD39E;
  --pallette-three: #348AA7;
  --pallette-four: #525174;
  --pallette-five: #513B56;
}
body{
  margin: 0;
}

.tasks {
  text-align: center;
  background-color: #eee;
  color: var(--pallette-five);
  font-family: helvetica, futura;
  margin-top: -25px;
  padding-top: 50px;
}

.task {
  width: 75%;
  max-width: 1200px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  background: var(--pallette-two);
  height: 40px;
  margin: 30px;
  border: 0px solid transparent;
  font-size: 20px;
}

div.task {
  height: 50vh;
  position: relative;
}
.stickyBackground{
  background: #eaebec;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
}
.animate {
  animation-duration: 2s;
  animation-name: backAndForth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes backAndForth {
  from{
    margin-left: -25%;
  }
  to {
    margin-left: 25%;
  }

}
