:root {
  --pallette-one: #BCE784;
  --pallette-two: #5DD39E;
  --pallette-three: #348AA7;
  --pallette-four: #525174;
  --pallette-five: #513B56;
}
body{
  margin: 0;
}

.tasks {
  text-align: center;
  background-color: #eee;
  color: var(--pallette-five);
  font-family: helvetica, futura;
  margin-top: -25px;
  padding-top: 50px;
}

.task {
  width: 75%;
  max-width: 1200px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}
div.task {
  height: 50vh;
  position: relative;
}
div.frame {
  position: relative;
  text-align: left;
  height: auto;
}
button {
  background: var(--pallette-two);
  height: 40px;
  margin: 30px;
  border: 0px solid transparent;
  font-size: 20px;
}
.stickyBackground{
  background: #eaebec;
}
.circles {
  clear: both;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.circle--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.circle--forGooey {
  background-color: black;
}
.circle--single {
  width: 200px;
  height: 200px;
}
.animate {
  animation-duration: 2s;
  animation-name: backAndForth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes backAndForth {
  from{
    margin-left: -25%;
  }
  to {
    margin-left: 25%;
  }
}

.foreground {
  right: 7%;
}

.background {
  left: 7%;
}

.modeComparison {
  overflow: auto;
  width: 33%;
  min-width: 250px;
  float: left;
  margin: 20px auto;
  height: 250px;
  position: relative;
}


.freestyle {
  clear: both;
}

.half {
  width: 50%;
}
.full {
  width: 100%;
}
.winterNight .foreground {
  background: var(--pallette-two);
}
.overlayText {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  top: 10%;
  margin: 10%;
}

.stars{
  background: url(daaner.png) center;
  background-size: cover;
}
