@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700|Karla:400,700|Lobster');

html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: #FFFFFF;
	color: #002868;
	font-family: 'Droid Serif', 'Times New Roman', serif;
	font-size: 16px;
	margin: 0;
}

main{ overflow: hidden; }

article{ overflow: hidden; }

section {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 20px;
}

h1,h2,h3,h4{
	font-family: 'Karla', Arial, Helvetica, sans-serif;
}

h1{ font-size: 42px; }
h2{ font-size: 42px; }
h3{ font-size: 24px; }
h4{ font-size: 20px; }

h1 + p{
	color: #465a70;
	font-size: 18px;
	font-style: italic;
  line-height: 30px;
	padding-top: 0;
}

p{ 
	line-height: 24px;
	margin: 0;
	padding: 10px 0;
}

header {
	border-bottom: 15px solid #BF0A30;
	height: 315px;
	position: relative;
}

.flag{
	height: 300px;
	float: left;
	min-width: 300px;
	width: 50%;	
}
.flag.left{ 
	background-color: #002868;
	overflow: hidden;
	padding-right: 20px;
}
.flag.left .star{
	background-color: #FFFFFF;
	float: right;
	height: 150px;
	width: 150px;
}

.flag.left .star:not(:first-child){	margin-right: 50px; }
.flag.right{ background-color: #BF0A30; }
.flag.right .stripe{
	background-color: #FFFFFF;
  height: 125px;
  margin-top: 100px;
  padding: 6px 0;
	width: 100%;
}

.trump-one{ max-width: 100%; }

.label-sticker{
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
  font-size: 42px;
  height: 350px;
  line-height: 48px;
  padding: 59px 36px;
  text-align: center;
  width: 350px;
}

.arrow{
	height: 600px;
	margin-bottom: 15px;
	min-width: 300px;
	width: 33.3%;
}

.arrow.up{ background-color: #002868; }
.arrow.down{ background-color: #BF0A30; }

.columns p:first-child{ padding-top: 0; }
.columns p:last-child{ padding-bottom: 0; }

footer{
	background-color: #002868;
	color: white;
	margin-top: 40px;
	padding: 20px 0 40px;
}

@media (max-width: 856px){

	.flag.left .star:not(:first-child) { margin-right: 30px; }

}

@media (max-width: 616px){

	.flag.left{ width: 100%; }	
	.flag.left .star { 
		float: none;
    height: 300px;
		margin: 0 auto;
    width: 300px;
	}

	.flag.right{ display: none; }
	.trump-one{ float: none; }
}
