:root {
  --flag-width: calc(100vw * 22 / 22);
  --flag-height: calc(var(--flag-width) * 16 / 22);
  --white-stripe-thickness: calc(var(--flag-width) * 4 / 22);
  --white-stripe-offset: calc(var(--flag-width) * 6 / 22);
  --blue-stripe-thickness: calc(var(--flag-width) * 2 / 22);
  --blue-stripe-offset: calc(var(--flag-width) * 7 / 22);
}

body {
  text-align: center;
  font-family: 'helvetica neue', sans-serif;
}

.flag {
  position: relative;
  width: var(--flag-width);
  height: var(--flag-height);
  background: #ED2939;
}

.white-stripe-horizontal {
  position: absolute;
  top: var(--white-stripe-offset);
  height: var(--white-stripe-thickness);
  width: var(--flag-width);
  background: white;
}

.white-stripe-vertical {
  position: absolute;
  left: var(--white-stripe-offset);
  height: var(--flag-height);
  width: var(--white-stripe-thickness);
  background: white;
}

.blue-stripe-horizontal {
  position: absolute;
  top: var(--blue-stripe-offset);
  height: var(--blue-stripe-thickness);
  width: var(--flag-width);
  background: #002664;
}

.blue-stripe-vertical {
  position: absolute;
  left: var(--blue-stripe-offset);
  height: var(--flag-height);
  width: var(--blue-stripe-thickness);
  background: #002664;
}

@media (min-width: 1000px) {
  :root {
    --flag-width: 1000px;
  }
}