/*
## CLIP_PATH & SHAPE

# You can find the final result in the answer directory, use this or the screen shots in the 
# design-layouts directory to see what you should be creating.
#
# Remember that Chrome still requires the -webkit prefix on the clip-path property.
*/


/* 

## TASK ONE

# Create the white stars that represent the stars on the American flag in the header.

- Remember we are ceating a responsive site.
- USE polygon(x y, x y, x y, ....) 
- It doesn't have to be a perfect star, don't get bogged down on this.

 */

.star {
	-webkit-clip-path: polygon(50% 10%, 62% 38%, 90% 38%, 70% 62%, 80% 90%, 50% 75%, 20% 90%, 30% 62%, 10% 38%, 38% 38%);
}


/*

## TASK TWO
	
# Wrap the text around the left side of the trump image.

- Hint: trump-1.png has a transparent background to help you. 

*/

.trump-one {
  float: right;
  shape-image-threshold: 0;
  shape-margin: 10px;
  shape-outside: url(../images/trump-1.png);
}


/*

## TASK THREE

# Put the label text in a circle and wrap the body text around it.

- Remeber that the designer wants the text rotated -8 degrees!

*/

.label-sticker {
  float: left;
  margin-right: 25px;
  shape-outside: circle(50%);
  transform: rotate(-8deg);
  -webkit-clip-path: circle(50%);
}


/*

##TASK FOUR

# Create arrows on the left and right of the text.
# The blue arrow on the left of the text and the red on the right.

- Remember that the designer has specified that the arrows will lay -100px outside 
	the main layout and the text will be spaced 15px from the arrows.

*/

.arrow.up {
	shape-outside: polygon(50% 0, 100% 35%, 75% 35%, 75% 100%, 25% 100%, 25% 35%, 0 35%);
	-webkit-clip-path: polygon(50% 0, 100% 35%, 75% 35%, 75% 100%, 25% 100%, 25% 35%, 0 35%);
}

.arrow.left { 
	float: left;
	margin-left: -100px;
	margin-right: 15px;
}

.arrow.down {
	shape-outside: polygon(25% 0, 75% 0, 75% 65%, 100% 65%, 50% 100%, 0% 65%, 25% 65%);
	-webkit-clip-path: polygon(25% 0, 75% 0, 75% 65%, 100% 65%, 50% 100%, 0% 65%, 25% 65%);
}

.arrow.right { 
	float: right;
	margin-left: 15px;
	margin-right: -100px;
}


/*

## TASK FIVE

# The design specifies a responsive column layout, where there are three columns on desk-top, two on pad and one on mobile.
# The columns should be spaced 40px appart and have a column divider (rule) of 1px in blue #d9e4f4

# The image at the start of the text should be a maximum of 60% column width and clipped into a circle, the text should flow around it also.

*/

.columns {	
	column-gap: 40px;
  column-rule: solid 1px #d9e4f4;
  column-width: 250px;
}

.columns img {
	float: left;
	max-width: 60%;
	shape-outside: circle(50%);
	-webkit-clip-path: circle(45%);
}



/*

## Got Extra Time? -> See if you can get clip-path working on multiple images in columns.
*/