/* 

4A: Alle kolonner skal være minimum 120px bred, og gridet 
	skal lage plass til så mange kolonner som mulig.

4B: Alle rader skal være minimum 120px høye, men de skal 
	utvide seg hvis innholdet krever det.

4C: Hvite celler skal fylle hele sidens bredde uansett skjermbredde

4D: Svart celle skal legges i starten

4E: Svart celle skal fylle tre kolonner og to rader

4F: Røde celler skal fylle tre rader

FG: Den orange skal starte på rad 2 og avsluttes på rad 6

4H: Grønne celler skal fylle tre kolonner

4I: Blå celler skal fylle to rader og to kolonner

4J: Sett opp gridet slik at tomme plasser automatisk fylles

*/

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-auto-rows: minmax(120px, auto);
	grid-gap: 10px;
	grid-auto-flow: dense;
}

.box {
	order: 2;
}

.white {
	grid-column: 1 / -1;
}

.black {
	order: 1;
	grid-column: 1 / 4;
	grid-row: 1 / 3;
}

.red {
	grid-row: span 3;
}

.orange {
	grid-row: 2 / 7;
}

.green {
	grid-column: span 3;
}

.blue {
	grid-column: span 2;
	grid-row: span 2;
}

/* Styling */

body {
	color: #101010;
	background: #ccc;
	font-family: Helvetica, sans-serif;
}

.box {
	padding: 1em;
	background-color: rgba(255, 255, 255, .5);
	line-height: 1.4;
}

.white {
	background-color: #fff;
}

.blue {
	background-color: rgba(0, 102, 205, .5);
}

.red {
	background-color: rgba(204, 0, 0, .5);
}

.green {
	background-color: rgba(0, 153, 51, .5);
}

.black {
	background-color: rgba(0, 0, 0, .8);
	color: white;
}

.orange {
	background-color: rgba(255, 153, 0, .5);
}

.box h2 {
	font-size: 1.65em;
	margin: .25em 0;
}