.shape{
	background-color: #84afe0;
	height: 370px;
	width: 370px;
}

.circle{ -webkit-clip-path: circle(100px); }

.square{ -webkit-clip-path: inset(100px 100px); }

.triangle{ -webkit-clip-path: polygon(50% 25%, 75% 75%, 25% 75%); }

.rectangle{ -webkit-clip-path: inset(35% 15%); }

.pentagon{ -webkit-clip-path: polygon(50% 25%, 75% 50%, 65% 75%, 35% 75%, 25% 50%); }

.star{ -webkit-clip-path: polygon(50% 20%, 59% 40%, 80% 40%, 65% 55%, 75% 80%, 50% 65%, 25% 80%, 35% 55%, 20% 40%, 42% 40%); }

.arrow{ -webkit-clip-path: polygon(35% 20%, 35% 35%, 75% 35%, 75% 55%, 35% 55%, 35% 70%, 10% 45%); }